pkgbase = drone-cli-git
	pkgdesc = Drone CLI
	pkgver = 1.4.0.r2.g75f1ec6
	pkgrel = 1
	url = http://docs.drone.io/cli-installation/
	arch = any
	license = Apache
	makedepends = go
	provides = drone-cli
	conflicts = drone-cli
	source = git+https://github.com/drone/drone-cli.git
	sha256sums = SKIP

pkgname = drone-cli-git
